<%= f.inputs :name => "Informações Adicionais" do %> <br/>
<div class="row">
	<div class="span4">
		<%= f.input :obs1, :label => "Observação" %> 
	</div>
	<div class="span4 offset1">
		<%= f.input :obs2 , :label => "Observação"%>
	</div>
</div>
<% end %>
<br/>
