<div id="webcam"></div>
<script type="text/javascript">
    function onload_complete(msg) {
        // fetch the CSRF meta tag data
        var csrf_param = $('meta[name=csrf-param]').attr('content');
        var csrf_token = $('meta[name=csrf-token]').attr('content');

        // reset the api URL appending the auth token parameter
        webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }

    function upload_complete(msg) {
        if (msg == 'ok') {
            $('#new_photo').show();
            $('#photo_description').focus();
			$('#button-submit').show();
        } else {
            alert('An error occured');
            webcam.reset();
        }
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url('<%= upload_photos_path %>');
    webcam.set_quality(100);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');
    $('#webcam').html(webcam.get_html(480, 320));

	$(function(){ 
		$('#button-submit').hide();
	});
	
	function hide_submit() {
		$('#button-submit').hide();
	}


</script>

    <input class="btn" type="button" value="Capturar" onclick="webcam.snap(); "/>
    <input class="btn" type="button" value="Resetar" onclick="webcam.reset(); hide_submit();"/>

    <%= semantic_form_for [@participant,Photo.new], :html => { :multipart => true } do |f| %>
        <input class="btn btn-info" type="submit" id="button-submit" value="Salvar foto">
    <% end %>
<br/><br/>
<%= link_to voltar, @participant %>
