<footer class="footer">
  <small>
	@2012 - PDM Sistemas
  </small>
  <nav>
    <ul>
	<li><%= link_to "Sobre", '#' %></li>
      <li><%= link_to "Ajuda",   '#' %></li>
      <li><%= link_to "Contato", '#' %></li>
    </ul>
  </nav>
</footer>